# global
*.pyc

# MLDL
MLDL_lecture_notebooks/cifar-10-batches-py/
MLDL_lecture_notebooks/cifar-10-python.tar.gz
MLDL_lecture_notebooks/data.zip
MLDL_lecture_notebooks/data/
MLDL_lecture_notebooks/DenoiseMNIST/
MLDL_lecture_notebooks/MNIST/

# JDLA lecture notebook
JDLA_lecture_notebook/data.zip
JDLA_lecture_notebook/data/
JDLA_lecture_notebook/__MACOSX/
JDLA_lecture_notebook/fra-eng-tr_data_original
JDLA_lecture_notebook/fra-eng-tr_data
JDLA_lecture_notebook/fra-eng-tr_data.zip
JDLA_lecture_notebook/pos-tagging_data
JDLA_lecture_notebook/pos-tagging_data.zip


# others
chainer_notebooks/result/

