# global
*.pyc


# JDLA lecture notebook
JDLA_lecture_notebook/data.zip
JDLA_lecture_notebook/data/
JDLA_lecture_notebook/__MACOSX/
JDLA_lecture_notebook/fra-eng-tr_data_original
JDLA_lecture_notebook/fra-eng-tr_data
JDLA_lecture_notebook/fra-eng-tr_data.zip
JDLA_lecture_notebook/pos-tagging_data
JDLA_lecture_notebook/pos-tagging_data.zip


# others
chainer_notebooks/result/

